input {
    font-size: 25px;
    padding: 12px 20px;
    margin: 20px 0; 
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #202020;
    width: 100%;
}

#nav {
    height: 74px;
    box-shadow: 0px 0px 10px -1px #010101;
}

#nav a {
    padding: 0 15; 
    line-height: 74px;
    box-shadow: inset 0px 0px 2px 1px #EF80B6;
}

#menu {
    font-size: 30px;
    top: 74;
}

#menu a {
    font-size: 25px;
    height: 58px;
}

#content {
    font-size: 60px;
    padding: 74px 20px 10px 20px;
    margin-left: 0px;
}

.submit-button {
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
    height: 60px;
}
