input {
    font-size: 25px;
    padding: 12px 20px;
    margin: 20px 0; 
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #202020;
    width: 100%;
}

#nav {
    font-size: 20px;
    height: 54px;
    box-shadow: 0px 0px 10px -1px #010101;
}

#nav a {
    padding: 0 10; 
    line-height: 54px;
    box-shadow: inset 0px 0px 2px 1px #EF80B6;
}

#menu {
    font-size: 30px;
    top: 54;
}

#menu a {
    font-size: 25px;
    height: 58px;
}

#content {
    font-size: 25px;
    padding: 54px 10px 10px 10px;
    margin-left: 0px;
}

.submit-button {
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;
    height: 60px;
}

.nav_img {
    margin-bottom: 5px;
    height: 35%;
}

.add_to_cart-button, .remove-button{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    margin-top: -10px;
    height: 40px;
}

.delete-button, .edit-button {
    background-color: #5F80B6;
    font-size: 30px;
    text-align: center;
    width: 99%;
    border: none;
}

.remove-button, .delete-button {
    background-color: #FF8036;
}

.back-button, .insert-button {
    background-color: #7FE4B6;
    font-size: 30px;
    text-align: center;
    border: none;
}
